# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key = g_key)
g_key

'AIzaSyAEdrFjRsYVwEdt_LFehvXl79-yJ9JvTbg'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [44]:
# output_data_file

city_types_df = pd.read_csv("output_data/cities.csv")
city_types_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dohad,22.8333,74.2667,90.23,17,47,6.91,IN,1615614993
1,1,Hasaki,35.7333,140.8333,57.20,88,75,24.16,JP,1615615251
2,2,Jamestown,42.0970,-79.2353,27.00,74,1,12.17,US,1615615245
3,3,Kavieng,-2.5744,150.7967,84.02,62,45,5.39,PG,1615614679
4,4,Batemans Bay,-35.7167,150.1833,79.00,82,50,15.01,AU,1615614993
...,...,...,...,...,...,...,...,...,...,...
573,573,Marawi,7.9986,124.2928,82.00,83,10,5.99,PH,1615615093
574,574,Luorong,24.4058,109.6086,70.61,69,70,4.14,CN,1615614981
575,575,Kawalu,-7.3817,108.2082,88.86,50,100,3.27,ID,1615615094
576,576,Zelenograd,55.9825,37.1814,21.20,86,40,13.42,RU,1615615094
577,577,Sibu,2.3000,111.8167,84.20,79,40,2.30,MY,1615614860

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [45]:
gmaps.configure(api_key=g_key)

In [46]:
#Use the Lat and Lng as locations
locations = city_types_df[["Lat","Lng"]]

#Add Heatmap layer to map
humidity = city_types_df["Humidity"]

In [47]:
#Plot heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [49]:
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 70.
#Windspeed less than 10 mph
# zero cloudiness


#Narrow down the cities to fit weather conditions
#Drop any rows will null values

ideal_weather_df = city_types_df.loc[(city_types_df["Wind Speed"] <= 10) & (city_types_df["Cloudiness"]== 0) & \
                  (city_types_df["Max Temp"] >= 70) & (city_types_df["Max Temp"] <= 80)].dropna()
ideal_weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,14,Port Elizabeth,-33.9180,25.5701,71.60,88,0,4.61,ZA,1615615252
18,18,Teshie,5.5836,-0.1072,78.80,83,0,9.22,GH,1615614994
28,28,Busselton,-33.6500,115.3333,70.00,51,0,4.00,AU,1615615254
257,257,Salalah,17.0151,54.0924,78.80,69,0,2.30,OM,1615614439
283,283,Itupiranga,-5.1347,-49.3267,77.00,94,0,2.30,BR,1615615036
317,317,East London,-33.0153,27.9116,78.80,65,0,8.05,ZA,1615615231
328,328,Coahuayana Viejo,18.7333,-103.6833,70.95,53,0,3.27,MX,1615615045
356,356,Vila Velha,-20.3297,-40.2925,77.00,69,0,6.91,BR,1615614462
361,361,Iquique,-20.2208,-70.1431,71.60,56,0,3.44,CL,1615614942
422,422,Tres Palos,18.1833,-101.6167,70.75,51,0,3.36,MX,1615615062
425,425,Acapulco de Juárez,16.8634,-99.8901,75.06,74,0,3.15,MX,1615615029
434,434,Hualmay,-11.0964,-77.6139,70.86,87,0,4.70,PE,1615615287
453,453,Les Cayes,18.2000,-73.7500,72.41,84,0,6.08,HT,1615615068
468,468,Panzhihua,26.5851,101.7128,73.99,27,0,1.30,CN,1615615071
472,472,Chilca,-12.5211,-76.7372,72.00,88,0,9.22,PE,1615615004
492,492,Rosario,-32.9468,-60.6393,71.01,77,0,6.91,AR,1615614857
511,511,Puerto Nariño,-3.7703,-70.3831,73.40,100,0,1.34,CO,1615615081
526,526,Caravelas,-17.7125,-39.2481,71.15,85,0,4.05,BR,1615615294

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [58]:
 #Store into variable named hotel_df
hotel_df = ideal_weather_df.loc[:,["City","Lat","Lng", "Country"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

                   City      Lat       Lng Country Hotel Name
14       Port Elizabeth -33.9180   25.5701      ZA
18               Teshie   5.5836   -0.1072      GH
28            Busselton -33.6500  115.3333      AU
257             Salalah  17.0151   54.0924      OM
283          Itupiranga  -5.1347  -49.3267      BR
317         East London -33.0153   27.9116      ZA
328    Coahuayana Viejo  18.7333 -103.6833      MX
356          Vila Velha -20.3297  -40.2925      BR
361             Iquique -20.2208  -70.1431      CL
422          Tres Palos  18.1833 -101.6167      MX
425  Acapulco de Juárez  16.8634  -99.8901      MX
434             Hualmay -11.0964  -77.6139      PE
453           Les Cayes  18.2000  -73.7500      HT
468           Panzhihua  26.5851  101.7128      CN
472              Chilca -12.5211  -76.7372      PE
492             Rosario -32.9468  -60.6393      AR
511       Puerto Nariño  -3.7703  -70.3831      CO
526           Caravelas -17.7125  -39.2481      BR

In [62]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

In [66]:
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
  # get lat, lng from hotel_df
    Lat = row["Lat"]
    Lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{Lat},{Lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    #print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
#hotel_df.info()

Missing field/result... skipping.

In [67]:
 #Display the hotel dataframe
hotel_df

,City,Lat,Lng,Country,Hotel Name
14,Port Elizabeth,-33.9180,25.5701,ZA,Kingsworth Inn
18,Teshie,5.5836,-0.1072,GH,Labadi Beach Hotel
28,Busselton,-33.6500,115.3333,AU,The Sebel Busselton
257,Salalah,17.0151,54.0924,OM,Star Emirates garden villas
283,Itupiranga,-5.1347,-49.3267,BR,Hotel Beira Rio
317,East London,-33.0153,27.9116,ZA,Blue Lagoon Hotel
328,Coahuayana Viejo,18.7333,-103.6833,MX,Hotel Aeropuerto
356,Vila Velha,-20.3297,-40.2925,BR,Golden Tulip Porto Vitória
361,Iquique,-20.2208,-70.1431,CL,Hotel Terrado Cavancha
422,Tres Palos,18.1833,-101.6167,MX,
425,Acapulco de Juárez,16.8634,-99.8901,MX,Dreams Acapulco Resort & Spa
434,Hualmay,-11.0964,-77.6139,PE,Kajaca Suite Hotel
453,Les Cayes,18.2000,-73.7500,HT,Regi Hotel & Bar
468,Panzhihua,26.5851,101.7128,CN,Nanshan Hotel
472,Chilca,-12.5211,-76.7372,PE,LA CASA DE DON JOAQUIN
492,Rosario,-32.9468,-60.6393,AR,Puerto Norte Design Hotel
511,Puerto Nariño,-3.7703,-70.3831,CO,Cabañas Turisticas Manguare
526,Caravelas,-17.7125,-39.2481,BR,Mar Doce de Abrolhos

In [68]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

locations = hotel_df[["Lat", "Lng"]]

In [69]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(locations,info_box_content=[info_box_template.format(**row) 
    for index, row in hotel_df.iterrows()])

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

Hotel map layered over the Heat map to show locations